.list01{
    margin: 0 auto;
}

h1{
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
    color: #f8f8f8ee;
}

ul li img{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.list01 ul{
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    gap: 15px;
}

.list01 ul li img{
    transform: translateY(0);
}
.list01 ul li img:hover{
    transform: translateY(-5px);
}