.section-container{
    width: 1800px;
    margin:0 auto;
    padding: 20px;
}

.section-container .centerbox{
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    width: 1400px;
    height: 400px;
    display: block;
    overflow:hidden;
    border-radius: 20px;
}
.section-container .centerbox img{
    margin-top: 30px;
    width: 1400px;
    border-radius: 20px;
}

.section-container .buttonbox{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.section-container .buttonbox button{
    margin: 10px;
    padding: 0;
    width: 100px;
    height: 40px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 50px;
    color: #eeee;
    cursor: pointer;
    transition: ease-out 0.2s;
}
.section-container .buttonbox button:hover{
    transform: translateY(-5px);
}

.section-container ul{
    margin: 0;
    padding: 0;
}
.section-container img{
    border-radius: 10px;
}
.section-container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-container ul li img{
    margin-top: 50px;
    transition: ease-out 0.2s;
}
.section-container ul li img:hover{
    transform: translateY(-5px);
}

.section-container .listbox{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
}

.section-container .listbox .list01{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list01 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}

.section-container .listbox .list01 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.section-container .listbox .list02{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list02 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}

.section-container .listbox .list02 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.section-container .listbox .list03{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list03 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}

 .list03 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.section-container .listbox .list04{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list04 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}
.section-container .listbox .list04 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}


.section-container .listbox .list05{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list05 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}
.section-container .listbox .list05 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

.section-container .listbox .list06{
    margin: 0;
    padding: 0;
    position: relative;
}

.section-container .listbox .list06 h1{
    top: 10px;
    margin: 0;
    position: absolute;
}
.section-container .listbox .list06 ul{
    display: flex;
    list-style: none;
    gap: 15px;
}